*.html linguist-detectable=false
*.java linguist-detectable=false
*.tst linguist-detectable=false
*.hack linguist-detectable=false
*.bat linguist-detectable=false
*.asm linguist-detectable=false
*.sh linguist-detectable=false
